runpod>=0.9.0
numba==0.60.0
googletrans==4.0.0rc1
sentence-splitter==1.4
sentence-transformers>=2.2.2
tqdm==4.67.1
traitlets==5.14.3
transformers>=4.30.0
typing_extensions==4.12.2
urllib3==2.3.0
wcwidth==0.2.13
torch>=2.0.0
fastapi>=0.68.0
uvicorn>=0.15.0
gunicorn>=20.1.0
faiss-gpu>=1.7.2
# faiss-cpu>=1.7.2
numpy>=1.21.0
pydantic>=1.8.0
